        body{
            overflow-x: hidden;
            overflow-y: scroll;
        }

        .checked {
            color: orange;
        }

        .container-block {
            margin: 0 auto;
            max-width: 1280px;
            width: 75%;
            z-index: -111111111;
        }

        .card {
            position: relative;
            overflow: hidden;
            padding-bottom: 30px;
            margin: 0.5rem 0 1rem 0;
            margin-bottom: 30px;
            background-color: #fff;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            background-clip: padding-box;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        }

        .card .card-content {
            padding: 20px;
            -webkit-border-radius: 0 0 2px 2px;
            -moz-border-radius: 0 0 2px 2px;
            border-radius: 0 0 2px 2px;
            background-clip: padding-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        .card .card-content {
            padding-bottom: 60px;
        }

        h4 {
            font-family: 'Exo', sans-serif;
            border-bottom: 1px solid #ddd;
            padding-bottom: 20px;
            font-size: 2rem;
            font-weight: lighter;
            line-height: 2.508rem;
            color: rgba(0, 0, 0, 0.87);
            margin: 1.14rem 0 0.912rem 0;
        }

        .brown-text {
            color: #795548 !important;
        }

        img.responsive-img,
        video.responsive-video {
            max-width: 100%;
            height: auto;
        }
        .row{
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
        }
        .col img.responsive-img {
            margin: 0 auto;
            max-height: 90px;
            padding-bottom: 15px;
            text-align: center;
            vertical-align: middle;
            display: table-cell;
        }

        img {
            border: 0;
        }
        .row .col.s4 {
            width: 22%;
            margin-left: 0;
            margin-bottom: 20px;
        }

        .text-center {
            text-align: center;
        }

        .row .col {
            padding: 0 10.5px;
            float: left;
        }
        @media screen and (max-width: 770px) {
            h4{
                font-size: 1.5rem;
            }
        }
        @media screen and (max-width: 400px) {
            h4{
                font-size: 1.2rem;
                line-height: 1.8rem;
            }
            .row .col.s4 {
                width: auto;
                margin-bottom: 20px;
                margin-left: 0;
            }
        }