<title>Home | Portfolio</title>
{% extends "myportfolio/base.html" %}
{% load staticfiles %}
{% block body_block %}
<div class="container">
    <p>1% Luck</p>
    <p>29% Talent</p>
    <p>70% Never Give Up</p>
    <p>My 100% Success Formula <i class="em em-sunglasses"></i> —</p>
    <span class="intro">Hi, I'm Uzval an, <i class="em em-flag-in"></i>. A Software Engineer based in 12°58'17.7564''N 77°35'40.4376''E"</span>
</div>
<div class="social-contacts">
    <a href="https://www.facebook.com/uzvaldunique" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
    <a href="https://www.linkedin.com/in/uzval-mallepeddi-5a476080/" class="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
    <a href="https://github.com/Uzval-Mallepeddi" class="github" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
    <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
    <a href="https://twitter.com/UzvalM" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a>
</div>
{% endblock %}