<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Project</title>
</head>
<body>
{% if added %}
    <h2>Project added succesfully !</h2>
    <a href="{% url 'myportfolio:projectform' %}">Add New Project</a>
    <a href="{% url 'myportfolio:home' %}">Go Home</a>
{% else %}
<form method="POST">
    {{ form.as_p }}
    {% csrf_token %}
    <button type="submit">Submit</button>
</form>
<br>
<a href="{% url 'myportfolio:home' %}">Go Home</a>
{% endif %}
</body>
</html>