<title>About Me | Portfolio</title>
{% extends "myportfolio/base.html" %}
{% load staticfiles %}

{% block body_block %}
    <link rel='stylesheet' href="{% static 'css/skills.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">

<div class="container-block">
        <div class="card" style="margin-top: 30px">
            <div class="card-content">
                <h4 class="brown-text light">Front-End Technologies</h4><br>
                <div class="row text-center">
                    <div class="col s4"><img alt="" src="https://github.com/Uzval-Mallepeddi/MyFiles/blob/master/html5.png?raw=true" class="responsive-img">HTML5<br><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star-half-full checked"></span></div>
                    <div class="col s4"><img alt="" src="https://github.com/Uzval-Mallepeddi/MyFiles/blob/master/css3.png?raw=true" class="responsive-img">CSS3<br><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star"></span></div>
                    <div class="col s4"><img alt="" src="https://github.com/Uzval-Mallepeddi/MyFiles/blob/master/bootstrap.png?raw=true" class="responsive-img">Bootstrap v4<br><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star"></span></div>
                    <div class="col s4"><img alt="" src="https://github.com/Uzval-Mallepeddi/MyFiles/blob/master/javascript.png?raw=true" class="responsive-img">Java Script<br><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star"></span></div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <h4 class="brown-text light">Frameworks</h4><br>
                <div class="row text-center">
                    <div class="col s4"><img alt="" src="https://github.com/Uzval-Mallepeddi/MyFiles/blob/master/angular.png?raw=true" class="responsive-img">Angular 6<br><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star-half-full checked"></span><span class="fa fa-star"></span></div>
                    <div class="col s4"><img alt="" src="https://github.com/Uzval-Mallepeddi/MyFiles/blob/master/django.png?raw=true" class="responsive-img">Django 2.1<br><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <h4 class="brown-text light">Back-End/Servers/Databases/Authentication</h4><br>
                <div class="row text-center">
                    <div class="col s4"><img alt="" src="https://github.com/Uzval-Mallepeddi/MyFiles/blob/master/sql.png?raw=true" class="responsive-img">SQL</div>
                    <div class="col s4"><img alt="" src="https://github.com/Uzval-Mallepeddi/MyFiles/blob/master/mongodb.png?raw=true" class="responsive-img">Mongo DB</div>
                    <div class="col s4"><img alt="" src="https://github.com/Uzval-Mallepeddi/MyFiles/blob/master/nodejs.png?raw=true" class="responsive-img">Node JS</div>
                    <div class="col s4"><img alt="" src="https://github.com/Uzval-Mallepeddi/MyFiles/blob/master/firebase.png?raw=true" class="responsive-img">Firebase Auth</div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <h4 class="brown-text light">Programming Languages</h4><br>
                <div class="row text-center">
                    <div class="col s4"><img alt="" src="https://github.com/Uzval-Mallepeddi/MyFiles/blob/master/python.png?raw=true" class="responsive-img">Python 3<br><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star-half-full checked"></span></div>
                    <div class="col s4"><img alt="" src="https://github.com/Uzval-Mallepeddi/MyFiles/blob/master/csharp.png?raw=true" class="responsive-img">C#<br><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></div>
                    <div class="col s4"><img alt="" src="https://github.com/Uzval-Mallepeddi/MyFiles/blob/master/java.png?raw=true" class="responsive-img">Java<br><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star"></span></div>
                    <div class="col s4"><img alt="" src="https://github.com/Uzval-Mallepeddi/MyFiles/blob/master/c++.png?raw=true" class="responsive-img">C++<br><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star-half-full checked"></span></div>
                    <div class="col s4"><img alt="" src="https://github.com/Uzval-Mallepeddi/MyFiles/blob/master/c.png?raw=true" class="responsive-img">C<br><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star"></span></div>
                </div>
            </div>
        </div>
        <div class="card" style="margin-bottom: 90px">
            <div class="card-content">
                <h4 class="brown-text light">Other</h4><br>
                <div class="row text-center">
                    <div class="col s4"><img alt="" src="https://github.com/Uzval-Mallepeddi/MyFiles/blob/master/github.png?raw=true" class="responsive-img">Github</div>
                    <div class="col s4"><img alt="" src="https://github.com/Uzval-Mallepeddi/MyFiles/blob/master/pythonanywhere.png?raw=true" class="responsive-img">Python Anywhere</div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
